In [1]:
from selenium import webdriver 
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains
from bs4 import BeautifulSoup

In [2]:
chrome_options = webdriver.ChromeOptions()

In [3]:
url = 'https://www.opinet.co.kr/searRgSelect.do'
driver = webdriver.Chrome(service=Service('../driver/chromedriver'), options = chrome_options)
driver.get(url)

In [4]:
driver.get(url)

In [7]:
sido = driver.find_elements(By.ID, 'SIDO_NM0')
sido

In [6]:
sido_list = sido.find_elements(By.TAG_NAME, "option")
sido_list

[<selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="fcbfae99-3ed0-4c3d-b069-010b670d7416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="60c772f6-831c-447a-ad95-33055627ac21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="dd27c10a-d77d-4cb6-972d-d0f300b3cd05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="8d0c3b67-33f2-4a15-a7db-a1a449d5d3e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="95aa0cc7-c9b6-4a2f-b6de-f7aa0fbb281e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="eb84a229-d8b1-4aaa-878a-5e9cea0665ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="28e22d87-18cf-49dc-a822-eb443ffa5c38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="b919868b-7e64-434a-9557-dd709c4ef7d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="d99446b9-bd60-4c68-a4a0-6bdc4f2e107a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="510f27ed-7db3-44e0-bddc-c143bce394c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="4942c27a-6114-4196-b6e9-3d1da3cf795c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="1152ffd2-90b8-4004-813c-a1a911d05318")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="058bbbb4-0727-4363-874f-d015c1d1b082")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="52e76c76-0770-417f-8983-287f38275e14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="360eb9b8-7aaa-4d39-a74d-d400646f47c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="b2cc7328-6bc9-4a36-a9fd-4d4ab121c14b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="45d369e0-545c-4692-9538-0d461a12bf0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f1b5cbcda222abbeb2ea838e6e49774", element="493cac8f-b770-4d88-b0df-a69ce79a5880")>]

In [7]:
sido_list[1].get_attribute('value')

'서울특별시'

In [8]:
sido_names = [option.get_attribute('value')for option in sido_list]
sido_names

['',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [9]:
sido_names = sido_names[1:]
sido_names

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [10]:
print(sido_names[1])
sido.send_keys(sido_names[1])

부산광역시

In [11]:
print(sido_names[0])
sido.send_keys(sido_names[0])

서울특별시

In [12]:
gu = driver.find_element(By.ID, 'SIGUNGU_NM0')
gu_list = gu.find_elements(By.TAG_NAME, "option")

gu_names = [option.get_attribute('value')for option in gu_list]
gu_names.remove("")

gu_names

['강서구',
 '금정구',
 '기장군',
 '남구',
 '동구',
 '동래구',
 '부산진구',
 '북구',
 '사상구',
 '사하구',
 '서구',
 '수영구',
 '연제구',
 '영도구',
 '중구',
 '해운대구']

In [13]:
gu_names

['강서구',
 '금정구',
 '기장군',
 '남구',
 '동구',
 '동래구',
 '부산진구',
 '북구',
 '사상구',
 '사하구',
 '서구',
 '수영구',
 '연제구',
 '영도구',
 '중구',
 '해운대구']

In [14]:
import time 
from tqdm.notebook import tqdm

for gu_name in tqdm(gu_names[:3]):
    gu = driver.find_element(By.ID, 'SIGUNGU_NM0')
    gu.send_keys(gu_name)
    time.sleep(3)

  0%|          | 0/3 [00:00<?, ?it/s]

In [15]:
for gu_name in tqdm(gu_names[:3]):
    gu = driver.find_element(By.ID, "SIGUNGU_NM0")
    gu.send_keys(gu_name)
    driver.implicitly_wait(time_to_wait=3)

  0%|          | 0/3 [00:00<?, ?it/s]

In [16]:
# for gu_name in tqdm(gu_names):
#     gu = driver.find_element(By.ID, "SIGUNGU_NM0")
#     gu.send_keys(gu_name)
#     driver.implicitly_wait(time_to_wait = 3)
#     "#glopopd_excel"
#     excel = driver.find_element(By.CSS_SELECTOR, '#glopopd_excel').click()

In [17]:
import pandas as pd
from glob import glob

In [18]:
glob ("../data/지역_*.xls")

['../data/지역_위치별(주유소) (24).xls',
 '../data/지역_위치별(주유소) (1).xls',
 '../data/지역_위치별(주유소) (12).xls',
 '../data/지역_위치별(주유소) (9).xls',
 '../data/지역_위치별(주유소) (8).xls',
 '../data/지역_위치별(주유소) (3).xls',
 '../data/지역_위치별(주유소) (21).xls',
 '../data/지역_위치별(주유소) (4).xls',
 '../data/지역_위치별(주유소) (14).xls',
 '../data/지역_위치별(주유소) (15).xls',
 '../data/지역_위치별(주유소) (22).xls',
 '../data/지역_위치별(주유소) (2).xls',
 '../data/지역_위치별(주유소).xls',
 '../data/지역_위치별(주유소) (17).xls',
 '../data/지역_위치별(주유소) (5).xls',
 '../data/지역_위치별(주유소) (13).xls',
 '../data/지역_위치별(주유소) (7).xls',
 '../data/지역_위치별(주유소) (18).xls',
 '../data/지역_위치별(주유소) (10).xls',
 '../data/지역_위치별(주유소) (23).xls',
 '../data/지역_위치별(주유소) (6).xls',
 '../data/지역_위치별(주유소) (20).xls',
 '../data/지역_위치별(주유소) (11).xls',
 '../data/지역_위치별(주유소) (19).xls',
 '../data/지역_위치별(주유소) (16).xls']

In [19]:
file_list = glob("../data/지역_*xls")
file_list[:5]

['../data/지역_위치별(주유소) (24).xls',
 '../data/지역_위치별(주유소) (1).xls',
 '../data/지역_위치별(주유소) (12).xls',
 '../data/지역_위치별(주유소) (9).xls',
 '../data/지역_위치별(주유소) (8).xls']

In [20]:
tmp = pd.read_excel(file_list[0], header = 2)
tmp.tail(2)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
11,서울특별시,용마로주유소,서울 중랑구 용마산로 309 (면목동),SK에너지,02-439-3037,Y,-,1698,1838,1700
12,서울특별시,신일셀프주유소,서울 중랑구 상봉로 58 (망우동),SK에너지,02-436-3651,Y,-,1798,1899,1500

In [21]:
tmp_list = []

for file in file_list:
    tmp = pd.read_excel(file,header =2)
    tmp_list.append(tmp)
    
gas_data = pd.concat(tmp_list)
gas_data

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,오천만주유소,서울 중랑구 동일로 547 (면목동),S-OIL,070-7797-7474,Y,-,1627,1797,-
1,서울특별시,대양주유소,서울 중랑구 봉우재로 105 (상봉동),GS칼텍스,02-437-5457,Y,1845,1635,1807,1600
2,서울특별시,(주)자연에너지 대창주유소,서울 중랑구 동일로 636 (면목동),현대오일뱅크,02-434-1448,N,-,1637,1807,1460
3,서울특별시,면목SELF주유소,서울 중랑구 동일로 627 (면목동),SK에너지,02-437-4072,Y,-,1637,1807,-
4,서울특별시,구도일주유소 동천,서울 중랑구 동일로 654 (면목동),S-OIL,02-495-0081,Y,-,1637,1807,-
...,...,...,...,...,...,...,...,...,...,...
18,서울특별시,동일주유소,서울특별시 성북구 보문로 85 (보문동5가),S-OIL,02-923-8484,Y,2098,1675,1855,-
19,서울특별시,재정제2주유소 길음지점,서울 성북구 삼양로 78 (길음동),현대오일뱅크,02-980-1311,N,-,1679,1829,1650
20,서울특별시,지에스칼텍스㈜ 세창주유소,서울 성북구 동소문로 323,GS칼텍스,02-988-2491,Y,1922,1696,1874,1451
21,서울특별시,삼선주유소,서울 성북구 창경궁로 324,S-OIL,02-766-5105,Y,2147,1697,1845,-
22,서울특별시,지에스칼텍스㈜ 화랑주유소,서울 성북구 화랑로 185,GS칼텍스,02-942-5152,N,-,1698,1872,1614

In [22]:
gas_data = pd.DataFrame({
    '상호' : gas_data['상호'],
    '주소' : gas_data['주소'],
    '가격' : gas_data['휘발유'],
    '셀프' : gas_data['셀프여부'],
    '상표' : gas_data['상표']
})
gas_data.tail()

               상호                         주소    가격 셀프      상표
18          동일주유소  서울특별시 성북구  보문로 85 (보문동5가)  1675  Y   S-OIL
19   재정제2주유소 길음지점        서울 성북구 삼양로 78 (길음동)  1679  N  현대오일뱅크
20  지에스칼텍스㈜ 세창주유소            서울 성북구 동소문로 323  1696  Y   GS칼텍스
21          삼선주유소            서울 성북구 창경궁로 324  1697  Y   S-OIL
22  지에스칼텍스㈜ 화랑주유소             서울 성북구 화랑로 185  1698  N   GS칼텍스

In [23]:
gas_data['주소'][2]

2       서울 중랑구 동일로 636 (면목동)
2      서울 강동구 구천면로 357 (암사동)
2       서울 마포구 백범로 126 (염리동)
2       서울 도봉구 도봉로 706 (방학동)
2       서울 노원구 월계로 252 (월계동)
2       서울 강서구 화곡로 273 (화곡동)
2      서울 은평구 통일로 1151 (진관동)
2       서울 관악구 난곡로 108 (신림동)
2      서울 서초구 과천대로 838 (방배동)
2             서울 성동구 동일로 129
2            서울 종로구 자하문로 303
2        서울 강북구 덕릉로 158 (번동)
2       서울 강남구 광평로 202 (수서동)
2              서울 송파구 거마로 82
2       서울 광진구 동일로 398 (중곡동)
2            서울 서대문구 연희로 184
2     서울 금천구 시흥대로 39-7 (시흥동)
2     서울 양천구 남부순환로 442 (신월동)
2     서울 동대문구 왕산로 289 (청량리동)
2             서울 중구 왕십리로 403
2               서울 구로구 개봉로 7
2    서울 용산구 한강대로104길 6 (동자동)
2       서울 동작구 상도로 139 (상도동)
2            서울 영등포구 대림로 230
2             서울 성북구 보문로 142
Name: 주소, dtype: object

In [24]:
gas_data['구'] = [address.split()[1] for address in gas_data['주소']]
gas_data['구']

0     중랑구
1     중랑구
2     중랑구
3     중랑구
4     중랑구
     ...
18    성북구
19    성북구
20    성북구
21    성북구
22    성북구
Name: 구, Length: 454, dtype: object

In [25]:
gas_data['구'].unique(), len(gas_data['구'].unique())

(array(['중랑구', '강동구', '마포구', '도봉구', '노원구', '강서구', '은평구', '관악구', '서초구',
        '성동구', '종로구', '강북구', '강남구', '송파구', '광진구', '서대문구', '금천구', '양천구',
        '동대문구', '중구', '구로구', '용산구', '동작구', '영등포구', '성북구'], dtype=object),
 25)

In [26]:
gas_data[gas_data['가격'] == '-']

                   상호                       주소 가격 셀프      상표     구
16              삼융주유소     서울 은평구 수색로 299 (수색동)  -  N   SK에너지   은평구
30     지에스칼텍스(주)내곡주유소           서울 서초구 헌릉로 210  -  N   GS칼텍스   서초구
8     현대오일뱅크㈜직영 재동주유소      서울 종로구 율곡로 58 (경운동)  -  N  현대오일뱅크   종로구
13  지에스칼텍스 (주)구의스타주유소           서울 광진구 자양로 103  -  N   GS칼텍스   광진구
14       대성산업(주)구의주유소    서울 광진구 광나루로 570 (구의동)  -  N   GS칼텍스   광진구
15  현대오일뱅크㈜직영 장호셀프주유소      서울 광진구 자양로 37 (자양동)  -  Y  현대오일뱅크   광진구
24              평화주유소    서울 양천구 안양천로 657 (신정동)  -  N   SK에너지   양천구
17     (주)자연에너지 국민주유소  서울 동대문구 답십리로 223 (답십리동)  -  N  현대오일뱅크  동대문구
10    지에스칼텍스(주)직영 역전점             서울 중구 퇴계로 15  -  N   GS칼텍스    중구
27              한일주유소  서울 영등포구 도림로 486 (문래동3가)  -  N   SK에너지  영등포구

In [27]:
gas_data = gas_data[gas_data['가격'] != '-']

In [28]:
gas_data['가격'] = gas_data['가격'].astype("float")

In [29]:
gas_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444 entries, 0 to 22
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      444 non-null    object
 1   주소      444 non-null    object
 2   가격      444 non-null    float64
 3   셀프      444 non-null    object
 4   상표      444 non-null    object
 5   구       444 non-null    object
dtypes: float64(1), object(5)
memory usage: 24.3+ KB

In [30]:
gas_data

                상호                         주소      가격 셀프      상표    구
0           오천만주유소       서울 중랑구 동일로 547 (면목동)  1627.0  Y   S-OIL  중랑구
1            대양주유소      서울 중랑구 봉우재로 105 (상봉동)  1635.0  Y   GS칼텍스  중랑구
2   (주)자연에너지 대창주유소       서울 중랑구 동일로 636 (면목동)  1637.0  N  현대오일뱅크  중랑구
3        면목SELF주유소       서울 중랑구 동일로 627 (면목동)  1637.0  Y   SK에너지  중랑구
4        구도일주유소 동천       서울 중랑구 동일로 654 (면목동)  1637.0  Y   S-OIL  중랑구
..             ...                        ...     ... ..     ...  ...
18           동일주유소  서울특별시 성북구  보문로 85 (보문동5가)  1675.0  Y   S-OIL  성북구
19    재정제2주유소 길음지점        서울 성북구 삼양로 78 (길음동)  1679.0  N  현대오일뱅크  성북구
20   지에스칼텍스㈜ 세창주유소            서울 성북구 동소문로 323  1696.0  Y   GS칼텍스  성북구
21           삼선주유소            서울 성북구 창경궁로 324  1697.0  Y   S-OIL  성북구
22   지에스칼텍스㈜ 화랑주유소             서울 성북구 화랑로 185  1698.0  N   GS칼텍스  성북구

[444 rows x 6 columns]

In [31]:
gas_data.reset_index(inplace = True)
gas_data.head()

   index              상호                     주소      가격 셀프      상표    구
0      0          오천만주유소   서울 중랑구 동일로 547 (면목동)  1627.0  Y   S-OIL  중랑구
1      1           대양주유소  서울 중랑구 봉우재로 105 (상봉동)  1635.0  Y   GS칼텍스  중랑구
2      2  (주)자연에너지 대창주유소   서울 중랑구 동일로 636 (면목동)  1637.0  N  현대오일뱅크  중랑구
3      3       면목SELF주유소   서울 중랑구 동일로 627 (면목동)  1637.0  Y   SK에너지  중랑구
4      4       구도일주유소 동천   서울 중랑구 동일로 654 (면목동)  1637.0  Y   S-OIL  중랑구

In [32]:
del gas_data['index']

In [33]:
gas_data.head()

               상호                     주소      가격 셀프      상표    구
0          오천만주유소   서울 중랑구 동일로 547 (면목동)  1627.0  Y   S-OIL  중랑구
1           대양주유소  서울 중랑구 봉우재로 105 (상봉동)  1635.0  Y   GS칼텍스  중랑구
2  (주)자연에너지 대창주유소   서울 중랑구 동일로 636 (면목동)  1637.0  N  현대오일뱅크  중랑구
3       면목SELF주유소   서울 중랑구 동일로 627 (면목동)  1637.0  Y   SK에너지  중랑구
4       구도일주유소 동천   서울 중랑구 동일로 654 (면목동)  1637.0  Y   S-OIL  중랑구

In [34]:
gas_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      444 non-null    object
 1   주소      444 non-null    object
 2   가격      444 non-null    float64
 3   셀프      444 non-null    object
 4   상표      444 non-null    object
 5   구       444 non-null    object
dtypes: float64(1), object(5)
memory usage: 20.9+ KB

In [35]:
import matplotlib.pyplot as plt
import seaborn as sns
import platform

In [39]:
import json
import folium
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [40]:
import matplotlib.font_manager
font_list = matplotlib.font_manager.findSystemFonts(fontpaths=None, fontext = 'ttf')

for  font in font_list:
    if 'Nanum' in font:
        print(matplotlib.font_manager.FontProperties(fname=font).get_name())

NanumGothic Eco
NanumGothic Eco
NanumGothic
NanumBarunGothic
Nanum Pen Script
Nanum Brush Script
NanumMyeongjo Eco
NanumGothic
NanumSquareRound
NanumMyeongjo
NanumSquare
NanumSquare
NanumBarunGothic
NanumGothic
NanumSquareRound
NanumGothicCoding
NanumMyeongjo
NanumSquare
NanumMyeongjo
NanumSquareRound
NanumGothic
NanumGothicCoding
NanumSquare
NanumBarunpen
NanumGothic Eco
NanumMyeongjo Eco
NanumMyeongjo Eco
NanumBarunpen
NanumBarunGothic
NanumSquareRound
NanumBarunGothic

In [41]:
import matplotlib.pyplot as plt 

plt.rc('font', family = 'NanumGothicCoding')

In [37]:
# plt.rc('font', family ='NanumGothicCoding')

In [38]:
# gas_data.boxplot(column='가격' , by = '셀프' , figsize=(12,8));